<br><br>
<div class="container">
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="form-group">
                <label for="list">
                <input type="radio" name="type" id="list" value="list" [(ngModel)]="view" (change)="storeOption('list')">
                    Ver como lista
                </label>
            </div>
        </div>
       <div class="col-md-3">
        <div class="form-group">
            <label for="cards">
            <input type="radio" name="type" id="cards" value="cards" [(ngModel)]="view" (change)="storeOption('cards')">
                Ver como cards
            </label>
        </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search user" (keyup)="searchUsers($event)">
                <span class="btn btn-outline-primary">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="view == 'list'">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Name Company</th>
                    <th scope="col">Catch Phrase</th>
                    <th scope="col">Focus Business</th>
                    <th scope="col">Website</th>
                    <th scope="col">Street</th>
                    <th scope="col">City</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of filteredUsers" >
                    <th>{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>@{{user.phone}}</td>
                    <td>{{user.company.name}}</td>
                    <td>{{user.company.catchPhrase}}</td>
                    <td>{{user.company.bs}}</td>
                    <td>{{user.website}}</td>
                    <td>{{user.address.street}}</td>
                    <td>{{user.address.city}}</td>
                    <td>{{user.address.zipcode}}</td>
                    <td>{{user.address.geo.lat}}</td>
                    <td>{{user.address.geo.lng}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="container" *ngIf="view == 'cards'">
        <div class="row">
          <div class="col-md-6 col-lg-4" *ngFor="let user of filteredUsers" >
          <div class="card text-center">
              <div class="card-header">
                <p><strong><i class="fas fa-user"></i> {{user.id}} - {{user.name}}</strong></p>
              </div>
              <div class="card-body" id="card-body-style">
                <div class="row">
                  <div class="col-md-6">
                  <p><strong>Username:<br></strong>{{user.username}}</p>
                  <p><strong>Email:<br></strong>{{user.email}}</p>
                  <p><strong>Phone:<br></strong>{{user.phone}}</p>
                  <p><strong>Name Company:<br></strong>{{user.company.name}}</p>
                  <p><strong>Catch Phrase:<br></strong>{{user.company.catchPhrase}}</p>
                  <p><strong>Focus Business:<br></strong>{{user.company.bs}}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Website:<br></strong>{{user.website}}</p>
                  <p><strong>Street<br></strong>{{user.address.street}}</p>
                  <p><strong>City:<br></strong>{{user.address.city}}</p>
                  <p><strong>Zipcode:<br></strong>{{user.address.zipcode}}</p>
                  <p><strong>Latitude:<br></strong>{{user.address.geo.lat}}</p>
                  <p><strong>Longitude:<br></strong>{{user.address.geo.lng}}</p>
                </div>
                </div>
              </div>
          </div>
          <br>
          </div>
        </div>
    </div>
</div>